body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.div-calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.corpo-calculadora{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 10px;
    height: 27em;
    background-color: #959191;
    box-shadow: 2px 2px 4px #817373;
}

.div-tela{
    padding: 5px;
    margin-top: 1em;
    height: 4em;
}
.input-tela{
    width: 100%;
    padding: 0;
    border: none;
    height: 100%;
    background-color: #d0dfd3;
    border-radius: 6px;
    text-align: end;
    font-size: 1.5rem;
}

.div-botoes{
    column-gap: 0.5em;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 7px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.div-botao{
    display: flex;
    justify-content: center;
}
.btn-calculadora{
    display: flex;
    justify-content: center;
    width: 2em;
    font-size: 2em;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 3px #e1d4d4;;
}
    .btn-calculadora img{
        height: 1.15em;
    }
.btn-calculadora:hover{
    opacity: 70%;
}

.div-btn-final{
    grid-column-start: 3;
    grid-column-end: 5;
}
.btn-igual{
    background-color: #e4e4ff;
}
.btn-final{
    width: 100%;
}

.div-msg-alerta{
    right: 0;
    margin-right: 2em;
    margin-top: 1em;
    position: fixed;
}
.msg-alerta{
    padding: 0.5em;
    display: flex;
    column-gap: 0.3em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    max-height: 6em;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #938a8a;
}
.msg-alerta img{
    width: 1.5em;
}


@media screen and (max-width: 450px) {
    .div-msg-alerta{
        width: 90%;
        margin-right: 0;
        right: 50%;
        transform: translate(50%, 0);
        margin-top: 1em;
        position: fixed;
    }
    .msg-alerta{
        font-size: 0.8em;
    }
    .msg-alerta img{
        width: 1.3em;
    }
}

@media screen and (max-width: 320px) {
    .corpo-calculadora{
        height: 20em;
    }
    .div-calculadora{
        padding: 15px;
    }
    .btn-calculadora{
        font-size: 1.5em;
    }
}